@model IEnumerable<JulyActivity.Models.Item>

    <div class="container" p-3>
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Borrowed Items List</h2>
            </div>
            <div class="col-6">
                Create new Item
            </div>
        </div>
    </div>